# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/*

poetry.lock

dist

# Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDE
*.swp
*.swo
*~
.DS_Store
